
.thumbnail img{
	width:100%;
}

.thumbnail{
	padding:0;
}
.thumbnail .caption-full{
	padding:9px;
}
#container{
	display:block;
}
#new-container{
	display:block;
}

.row{
	display:flex;
	flex-wrap:wrap;
	
}

.home{
	width:30%;
	margin:0 auto;
}

 #delete-form{
	display:inline;
}
#delete-comment{
	display:inline;
}


.checked {
    color: orange;
}


#bs-example-navbar-collapse-1 ul li ul li {
  float: none !important;
}
#bs-example-navbar-collapse-1 .navbar-right .dropdown-menu{
	background-color:rgba(240, 240, 240,.3);
}

#bs-example-navbar-collapse-1 .navbar-right .dropdown-menu a:hover{
	background-color:black;
	color:white;
}

#review-edit-back{
	text-decoration:none;
	
}

@media only screen and (max-width: 600px){
	#column1{
		width:100%;
	}
}















